header {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 10px solid white;
    border-radius: 15px;
    border: 3px solid rgb(255, 153, 0);
    margin-bottom: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-menu-item1 {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(151, 151, 151);
    color: rgb(0, 0, 0);
    width: 40px;               
    height: auto;
    border-radius: 15px;
    font-size: 21px;
    font-weight: bold;
}

.header-menu-item {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(138, 138, 138);
    color: rgb(0, 0, 0);
    width: 40px;               
    height: auto;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
}

.img-logo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.superior {
    display: flex;
    background: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgb(27, 27, 27) 120%);
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border: 1px double rgb(255, 255, 255);    
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 10px 1px rgb(0, 0, 0);
}

legend {
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 27px;
}

label {
    color: white;
    font-size: 20px;
}

fieldset {
    background-color: black;
    width: 250px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

fieldset > div {
    padding: 1px 2px;
}

input {
    height: 18px;
}

button {
    font-weight: bolder;
    background: white;
    font-size: 20px;
    padding: 12px;
    border-radius: 15px;
}

button:hover {
    background: linear-gradient(68.15deg, #ffba26 16.62%,  #fffbf2 55.61%, #ffc400 85.61%);
    padding: 14px;
}