@font-face {
    font-family: 'pricedown';
    src: url(../img/font/pricedown\ bl.otf) format('opentype'), url(../img/font/pricedown\ bl.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 10px solid white;
    border-radius: 15px;
    border: 3px solid rgb(255, 153, 0);
    margin-bottom: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-menu-item {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(92, 92, 92);
    color: rgb(0, 0, 0);
    width: auto;              
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.header-menu-item:hover {
    background-color: rgb(198, 198, 198);
}

.img-logo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.superior {
    display: flex;
    background: black url(../img/fundoHOME.jpg) no-repeat left center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px double rgb(255, 255, 255);    
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}

.superior > h1 {
    font-size: 2em;
    text-shadow: 0px 0px 8px rgb(99, 99, 99);
}

.superior-texto {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
    border-radius: 12px;
    box-shadow: 0px 0px 7px rgb(223, 155, 91);
    background: linear-gradient(90deg, yellow, rgb(223, 223, 153),yellow);
    padding: 8px;
    font-weight: bold;
    width: 150px;
}

.superior-texto:hover {
    background: yellow;
    box-shadow: 2px 2px 5px black;
}

.superior-input {
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    padding: 12px;
    background-color: rgb(255, 253, 223);
    text-align: left;
    font-size: 20px;
    color: rgb(110, 110, 110);
    margin-top: 25px;
}

.superior-submit {
    border: 1px solid black;
    border-radius: 8px;
    width: 408px;
    padding: 16px;
    cursor: pointer;
    background-color: red;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.919);
    font-weight: bold;
    text-shadow: 2px 2px 6px rgb(104, 67, 0);
}

.superior-submit:hover {
    background-color: rgb(221, 0, 0);
}

.superior > h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.350);
}

.img-modelo {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0 68%, rgb(39, 39, 39) 32% 100%);
    border: 1px double rgb(255, 255, 255); 
    box-shadow: 1px 3px 10px 1px rgb(0, 0, 0);
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 15px;
}

strong {
    font-family: 'pricedown', Times, serif;
    font-size: 1.4em;
    color: red;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}